/* RESET */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, section, footer {
    border-bottom: 2px solid;
    padding: 32px;
}

/* ENTETE */
header {
    background-image: url ("img/q2_bruce_willis.jpg");
}

/* QUESTIONS */

section{
    flex: 1;
    background-color:grey;
    position:relative;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    height:100%;
    z-index: 0;
}

/* Q6 CSS */

input[name=q6_reponse] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* IMAGE STYLES */
input[name=q6_reponse] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  input[name=q6_reponse]:checked + img {
    outline: 2px solid #f00;
  }


/* FOOTER */

footer{
    display: flex;
    border: 0;
    background-color: lightpink;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-evenly;
}

.button1{
    justify-content:right;
    size:inherit;
}

/* .button2{
}

.progbar{
} */